@import './variables.less'; // Ensure the color scheme is imported if defined in another file

.App,
#map {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--background-color); // Use background color variable
  color: var(--text-color); // Use text color variable
}

.App {
  .map-controls {
    display: flex;
    transition: all 0.3s ease-in-out;
    // width: 600px;
    position: fixed;
    top: 30px;
    right: 30px;
    background-color: var(--background-alt-color); // Ensure controls blend with design
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.drawer-open {
      // Adjusted for drawer's width
      right: 408px; // 378px drawer width + 30px padding
    }

    // .react-geo-search {
    //   padding-right: 10px;
    //   background-color: var(--background-alt-color-2); // Separate the search area visually
    //   border-radius: 4px;
    //   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // }
  }
}

.app-layout {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Top 2/3 Map Container */
.map-container {
  flex: 2;
  position: relative;
}

/* Bottom 1/3 Results Panel */
.results-panel {
  flex: 1;
  background: #fff;
  border-top: 1px solid #ddd;
  padding: 16px;
  overflow-y: auto;
}

/* Floating Filters Button */
.filters-button {
  position: absolute;
  bottom: 35%;
  right: 16px;
  z-index: 1000;
}

/* Filters Drawer */
.filters-drawer .ant-drawer-content {
  border-radius: 16px 16px 0 0; /* Rounded corners for mobile look */
  background: #fff;
  padding: 16px;
}

.filters-content {
  padding: 16px;
}

.results-content {
  padding: 16px;
}
