<!DOCTYPE html>
<html lang="en" class="h-screen w-screen scroll-smooth antialiased">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <base href="<%= appPrefix %>" />
  <title>
    <%= title %>
  </title>

  <!-- The build pipeline injects the compiled Tailwind CSS bundle -->
</head>

<body> 
  <noscript class="block p-4 text-center text-red-600">
    You need to enable JavaScript to run this app.
  </noscript>

  <!-- React root -->
  <main id="root" role="main" class="h-screen w-screen"></main>

  <!-- The build pipeline injects the React bundle -->
</body>

</html>